p{
  padding-left:10px;
  padding-right:10px;
  font-family: Montserrat;
  text-align: justify;
  
}

h3{
  padding-left: 10px;
  font-family: Open Sans;
  margin:0;
  padding-top:10px;
}

h4{
  margin:0;
  padding-left: 10px;
  font-family: Open Sans;
}
.github-button{
  padding-top:20px;
  border-radius: 4px;
  justify-items:center;
  background-color: white;
  display:inline;
  margin-left: 1px;
  color: black;
}

.github-button:link { text-decoration: none; }


.github-link:visited { text-decoration: none; }

.github-button:hover{
  background-color: #238636;
  color: white;
  transition: all 0.1s;
}

.project-divs{
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  margin-left:600px;
  margin-right:50px;
  

}

.ktbyte:link{
  color: orangered;
  text-decoration: none;
}

.ktbyte:visited{
  color: orangered;
  text-decoration: none;
}
.ktbyte:hover{
  color:blue;
}

.processing:link{
  color: rgb(11, 97, 236);
  text-decoration: none;
}

.processing:visited{
  color:rgb(11,97,236);
  text-decoration: none;
}

.processing:hover{
  color:blue;
  text-decoration: none;
}

.video-container{
  position: absolute;
  z-index: 100;
  background: no-repeat;
  background-size: cover;
  margin-top:250px;
  top:1000;
  bottom: 600;
  right: 0;
  left: 0;
  height: 400px;
}

.video-container-CYOA{
  position: absolute;
  z-index: 100;
  background: no-repeat;
  background-size: cover;
  margin-top:1000px;
  top:1000;
  bottom: 600;
  right: 0;
  left: 0;
  height: 340px;
}

.video-container-online{
  position: absolute;
  z-index: 100;
  background: no-repeat;
  background-size: cover;
  margin-top:640px;
  top:1000;
  bottom: 600;
  right: 0;
  left: 0;
  height: 340px;
}